
<div class="container">
  <div class="row">
    <h1 class="col-md-6 col-md-offset-4">Here are our restaurants</h1>
  </div>
  <div class="row">
    <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-info", style: "position: absolute; top: 25px; right: 25px;" %>
  </div>
  <ul class="list-unstyled row">
    <% @restaurants.each do |restaurant| %>
    <li>
      <h4 class="col-md-6 col-md-offset-4"><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
    </li>
    <% end %>

  </ul>

</div>


